
@import "../node_modules/bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


header{
    background-color: #EA1B36;
}

.header{
    width: 75%;
    margin: auto;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.header img{
    display: flex;
    justify-content: center;
}

.navbarr{
    display: flex;
    flex-direction: row;
    padding: 3rem 2rem 3rem 2rem;
    list-style: none;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.navbarr a{
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.navbarr a:hover{
    color: white;
    background-color: #7A7A7A;
}

.colorsub{
    background-color: #7A7A7A;
    opacity: 80%;
    &:hover{
        background-color: #7A7A7A;
        opacity: 100%;
    }
}



.footer{
    background-color: #EA1B36;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 5rem 2rem 5rem;
    font-size: 20px;
    ul{
        li{
            list-style: none;
            padding: 1.5rem;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.footer-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.autoridades{
    display: flex;
    justify-content: center;
    align-items: center;
    .botonAuto{
        color: white;
        padding: 1rem 3rem;
        border-radius: 1px;
        background-color: #EA1B36;
        margin: 1rem;
        width: 15rem;
        text-align: center;
        &:hover{
            background-color: #7A7A7A;
            cursor: pointer;
        }
    }
}


.boton-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 4rem;
    padding: auto;
    margin: auto;
    background-color:#7A7A7A;
    color: white;
    p{
        text-align: center;
    }
    &:hover{
        cursor: pointer;
        background-color: white;
        color: #EA1B36;
    }
}





/*Heroes*/
.col-text {
    height:20em;
  }
  .grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row; 
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
  }
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-left {
    -webkit-box-ordinal-group:-1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #EA1B36;
    font-size: 25px;
    text-align: justify;
    margin: 1rem 2rem;
  }
  .Aligner-item {
    width: 60%;
  }
  .col-image {
    background-size: cover;
    background-position:center center;
  }
  
  @media (max-width: 640px) {
    .grid-flex {
      height: 40em;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column; 
     }
    .col {
      order:vertical;
    }
    .col-left {
      -webkit-box-ordinal-group:0;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
    }
    .col-text div p {
      padding: 1em;
    }
    .Aligner-item {
      width: 90%;
    }
  }
  